{% load staticfiles %}
{% include "simulation/includes/banner.html" %}

<div class="container">
    <div class="row">
    <div class="col-sm-9">


    <article>
    <div class="entry-content">
    <h3>Page not found</h3>
    <p class="text-muted">
        The requested URL is not available on this website.<br/>
        Looks like you followed a bad link.<br/>
        If you think it's our fault, please <a class="reference internal" href="mailto:guillaumecantin&#64;mail.com">let us know</a>.
    </p>

    </div>
    </article>

    </div>
    <br/>
    {% include "simulation/includes/side.html" %}

    </div>
</div> <!-- class="container" -->

{% include "simulation/includes/footer.html" %}
