{% load staticfiles %}
{% include "simulation/includes/banner.html" %}


<div class="container">
    <div class="row">
    <div class="col-sm-9">

    <div class="entry-content">
    <article>

    <h2>{{ figure.title }}</h2>

    <hr/>
    <p>Author: {{ figure.author }}</p>
    <p>Date: {{ figure.date }}</p>

    {% if rank == 0 %}
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ next.id }}">Next</a> {{ next.title }}
    </p>
    {% elif rank == last %}
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ previous.id }}">Previous</a> {{ previous.title }}
    </p>
    {% else %}
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ previous.id }}">Previous</a> {{ previous.title }}
    </p>
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ next.id }}">Next</a> {{ next.title }}
    </p>
    {% endif %}

    <hr/>

    <p>
        {{ figure.summary | safe }}
    </p>

    <hr/>

    <br/>
    <div align="center">
        <em class="text-muted">{{ figure.title }}</em><br/><br/>
        <img src="http://guillaumecantin.pythonanywhere.com/media/{{ figure.scanned_image }}" width="60%"/>
    </div>
    <br/><br/>

    <hr/>

    <h3>Source code</h3>
        <p>
            {% include codeurl %}
        </p>


    </div>

    <hr/>
    {% if rank == 0 %}
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ next.id }}">Next</a> {{ next.title }}
    </p>
    {% elif rank == last %}
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ previous.id }}">Previous</a> {{ previous.title }}
    </p>
    {% else %}
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ previous.id }}">Previous</a> {{ previous.title }}
    </p>
    <p>
        <a class="btn btn-success btn-xs" href="http://guillaumecantin.pythonanywhere.com/figure/{{ next.id }}">Next</a> {{ next.title }}
    </p>
    {% endif %}

    </article>

    </div>
    <br/>
    {% include "simulation/includes/side.html" %}

    </div>
</div> <!-- class="container" -->

{% include "simulation/includes/footer.html" %}
