{% load staticfiles %}
{% include "simulation/includes/banner.html" %}


<div class="container">
    <div class="row">
    <div class="col-sm-9">


    <article>
    <div class="entry-content">

    <h3>Poincaré sphere</h3>

    <p>
        The Poincaré sphere can be used to study the behavior at infinity of some dynamical systems [<cite><a href='#Perko' id='ref-Perko-1'>Perko (2001)</a></cite>].
        The projection equations defining the coordinates <span class="math">\((x,~y)\)</span> of a generic point of the plane, in terms of the coordinates <span class="math">\((X,~Y,~Z)\)</span>
        of a corresponding point on the sphere, read:
        <div class="math">
            \begin{equation*}
            \begin{cases}
            x = \dfrac{X}{Z}\\
            y = \dfrac{Y}{Z}
            \end{cases}.
            \end{equation*}
        </div>
        The inverse transformation is given by:
        <div class="math">
            \begin{equation*}
            \begin{cases}
            X = \dfrac{x}{1+x^2+y^2}\\
            Y = \dfrac{y}{1+x^2+y^2}\\
            Z = \dfrac{1}{1+x^2+y^2}
            \end{cases}.
            \end{equation*}
        </div>
        You can visualize the orbit of the following system, that exhibits a vertical Hopf bifurcation at
        <span class="math">\(\lambda = 0 \)</span>:
        <div class="math">
            \begin{equation*}
            \begin{cases}
            \dot{x} = \lambda x - y \\
            \dot{y} = x + \lambda y
            \end{cases}.
            \end{equation*}
        </div>
        For <span class="math">\(\lambda > 0 \)</span>, the orbit is attracted to the equator.
        For <span class="math">\(\lambda < 0 \)</span>, it is attracted to the north pole.
    </p>

    <hr/>

    <div id="simulationzone">
        <h3>Simulation</h3>
    </div>

    <div class="well"> <!-- Simulation zone -->
    <form action="#simulationzone" method="post" class="form-inline">
    {% csrf_token %}
    <div class="form-group has-success">
    <span class="math">\(\lambda = \)</span><input type="text" name="Lambda" size="2" value=0.4 maxlength="6" class="form-control"/>
    <span class="text-success"><em>{{ result }}</em></span><br/><br/>
    <input type="submit" value="Simulation" class="btn btn-success btn-sm">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Help</button>
    </div>

       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
       <div class="modal-content">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Simulation</h4>
       </div>
       <div class="modal-body">
       To make your own simulation, you just have to enter a decimal number between $-1$ and $1$ for the parameter.
       For instance, <span class="math">\(\lambda = 0.12\)</span>.
       Then, click on <em>Simulation</em> button.<br/>
       You can change the default value, and make many simulations.
       </div>
       <div class="modal-footer">
       <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">OK</button>
       </div>
       </div>
       </div>
       </div>

    </form>

    <p align="center"><em>Projection of an orbit on the Poincaré sphere</em></p>

    <p align="center">
    <img src="http://guillaumecantin.pythonanywhere.com/static/simulation/images/poincaresphere.png?={{ mycache }}" width="95%" align="center"/>
    </p>

    </div><!-- End simulation zone -->

    <hr>
    <h2>Bibliography</h2>

    <p id='Perko'>L.&nbsp;Perko.
    <em>Differential equations and dynamical systems</em>.
    Springer, New York, 3rd edition, 2001. <a class="cite-backref" href="#ref-Perko-1" title="Jump back to reference 1">↩</a>
    </p>

    </article>

    </div>
    <br/>
    {% include "simulation/includes/side.html" %}

    </div>
</div> <!-- class="container" -->

{% include "simulation/includes/footer.html" %}
